<mat-card class="mat-bg-surface-container-lowest" appearance="outlined">
  <mat-card-content class="p-2!"> 
    <section class="flex flex-col gap-2">
      <section class="flex justify-between items-center">
        <section class="flex items-center gap-2 px-3 py-2">
          <span matListItemTitle>Poll Title 1</span>
        </section>
        <section class="flex gap-2 items-center">

          <div class="text-xs font-bold py-2 px-4 rounded-md bg-gray-200">Active</div>
          <button matButton="tonal" color="primary">
            <span>view poll</span>
          </button>
        </section>
      </section>
    </section>
  </mat-card-content>
</mat-card>