<section class="flex flex-col gap-4 px-8 py-6">
  <h2 class="text-2xl font-bold">Are you sure you want to delete this group?</h2>
  <p>This action cannot be undone. This will permanently delete the group and all associated data.</p>
  <section class="flex justify-end gap-2">
    <button matButton="filled" color="primary" [disabled]="deletingGroupLoading()" (click)="deleteGroup()">
      <div class="flex items-center gap-2">
        @if (deletingGroupLoading()) {
          <mat-progress-spinner mode="indeterminate" diameter="20"></mat-progress-spinner>
        }
        <span>Delete Group</span>
      </div>
    </button>
    <button matButton="tonal" color="primary" (click)="closeDialog()">Cancel</button>
  </section>
</section>