.dark-medium-contrast {
  --md-sys-color-primary: rgb(255 211 198);
  --md-sys-color-surface-tint: rgb(255 181 159);
  --md-sys-color-on-primary: rgb(76 16 0);
  --md-sys-color-primary-container: rgb(251 91 38);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(255 255 255);
  --md-sys-color-on-secondary: rgb(56 48 0);
  --md-sys-color-secondary-container: rgb(249 227 118);
  --md-sys-color-on-secondary-container: rgb(83 72 0);
  --md-sys-color-tertiary: rgb(255 255 255);
  --md-sys-color-on-tertiary: rgb(59 47 0);
  --md-sys-color-tertiary-container: rgb(246 226 160);
  --md-sys-color-on-tertiary-container: rgb(84 71 21);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(30 16 12);
  --md-sys-color-on-background: rgb(249 220 213);
  --md-sys-color-surface: rgb(30 16 12);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(91 65 57);
  --md-sys-color-on-surface-variant: rgb(250 212 201);
  --md-sys-color-outline: rgb(205 170 160);
  --md-sys-color-outline-variant: rgb(170 137 128);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(249 220 213);
  --md-sys-color-inverse-on-surface: rgb(55 38 33);
  --md-sys-color-inverse-primary: rgb(135 36 0);
  --md-sys-color-primary-fixed: rgb(255 219 208);
  --md-sys-color-on-primary-fixed: rgb(40 5 0);
  --md-sys-color-primary-fixed-dim: rgb(255 181 159);
  --md-sys-color-on-primary-fixed-variant: rgb(104 26 0);
  --md-sys-color-secondary-fixed: rgb(249 227 118);
  --md-sys-color-on-secondary-fixed: rgb(21 17 0);
  --md-sys-color-secondary-fixed-dim: rgb(219 199 93);
  --md-sys-color-on-secondary-fixed-variant: rgb(63 54 0);
  --md-sys-color-tertiary-fixed: rgb(246 226 160);
  --md-sys-color-on-tertiary-fixed: rgb(22 17 0);
  --md-sys-color-tertiary-fixed-dim: rgb(217 198 135);
  --md-sys-color-on-tertiary-fixed-variant: rgb(65 53 4);
  --md-sys-color-surface-dim: rgb(30 16 12);
  --md-sys-color-surface-bright: rgb(83 64 59);
  --md-sys-color-surface-container-lowest: rgb(16 5 3);
  --md-sys-color-surface-container-low: rgb(41 26 21);
  --md-sys-color-surface-container: rgb(52 36 31);
  --md-sys-color-surface-container-high: rgb(64 47 42);
  --md-sys-color-surface-container-highest: rgb(76 57 52);
}
