.dark-high-contrast {
  --md-sys-color-primary: rgb(245 237 255);
  --md-sys-color-surface-tint: rgb(207 189 254);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(203 185 250);
  --md-sys-color-on-primary-container: rgb(15 0 51);
  --md-sys-color-secondary: rgb(245 237 255);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(199 191 216);
  --md-sys-color-on-secondary-container: rgb(13 8 26);
  --md-sys-color-tertiary: rgb(255 235 239);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(235 180 196);
  --md-sys-color-on-tertiary-container: rgb(29 2 13);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(20 18 24);
  --md-sys-color-on-background: rgb(230 224 233);
  --md-sys-color-surface: rgb(20 18 24);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(73 69 78);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(244 238 249);
  --md-sys-color-outline-variant: rgb(198 192 203);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(230 224 233);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(78 63 119);
  --md-sys-color-primary-fixed: rgb(233 221 255);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(207 189 254);
  --md-sys-color-on-primary-fixed-variant: rgb(21 3 61);
  --md-sys-color-secondary-fixed: rgb(232 222 248);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(203 194 219);
  --md-sys-color-on-secondary-fixed-variant: rgb(19 14 32);
  --md-sys-color-tertiary-fixed: rgb(255 217 227);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(239 184 200);
  --md-sys-color-on-tertiary-fixed-variant: rgb(36 6 19);
  --md-sys-color-surface-dim: rgb(20 18 24);
  --md-sys-color-surface-bright: rgb(82 79 85);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(33 31 36);
  --md-sys-color-surface-container: rgb(50 47 53);
  --md-sys-color-surface-container-high: rgb(61 58 65);
  --md-sys-color-surface-container-highest: rgb(72 70 76);
}
