.dark-medium-contrast {
  --md-sys-color-primary: rgb(227 214 255);
  --md-sys-color-surface-tint: rgb(207 189 254);
  --md-sys-color-on-primary: rgb(43 27 82);
  --md-sys-color-primary-container: rgb(152 135 197);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(226 216 242);
  --md-sys-color-on-secondary: rgb(40 35 54);
  --md-sys-color-secondary-container: rgb(149 141 164);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(255 208 221);
  --md-sys-color-on-tertiary: rgb(61 26 39);
  --md-sys-color-tertiary-container: rgb(181 131 146);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(20 18 24);
  --md-sys-color-on-background: rgb(230 224 233);
  --md-sys-color-surface: rgb(20 18 24);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(73 69 78);
  --md-sys-color-on-surface-variant: rgb(224 218 229);
  --md-sys-color-outline: rgb(181 176 187);
  --md-sys-color-outline-variant: rgb(147 142 153);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(230 224 233);
  --md-sys-color-inverse-on-surface: rgb(43 41 47);
  --md-sys-color-inverse-primary: rgb(78 63 119);
  --md-sys-color-primary-fixed: rgb(233 221 255);
  --md-sys-color-on-primary-fixed: rgb(21 3 61);
  --md-sys-color-primary-fixed-dim: rgb(207 189 254);
  --md-sys-color-on-primary-fixed-variant: rgb(59 45 99);
  --md-sys-color-secondary-fixed: rgb(232 222 248);
  --md-sys-color-on-secondary-fixed: rgb(19 14 32);
  --md-sys-color-secondary-fixed-dim: rgb(203 194 219);
  --md-sys-color-on-secondary-fixed-variant: rgb(57 51 71);
  --md-sys-color-tertiary-fixed: rgb(255 217 227);
  --md-sys-color-on-tertiary-fixed: rgb(36 6 19);
  --md-sys-color-tertiary-fixed-dim: rgb(239 184 200);
  --md-sys-color-on-tertiary-fixed-variant: rgb(80 43 56);
  --md-sys-color-surface-dim: rgb(20 18 24);
  --md-sys-color-surface-bright: rgb(70 67 74);
  --md-sys-color-surface-container-lowest: rgb(8 7 11);
  --md-sys-color-surface-container-low: rgb(31 29 34);
  --md-sys-color-surface-container: rgb(41 39 45);
  --md-sys-color-surface-container-high: rgb(52 49 56);
  --md-sys-color-surface-container-highest: rgb(63 60 67);
}
