.dark-high-contrast {
  --md-sys-color-primary: rgb(255 236 231);
  --md-sys-color-surface-tint: rgb(255 181 159);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(255 175 151);
  --md-sys-color-on-primary-container: rgb(30 3 0);
  --md-sys-color-secondary: rgb(255 255 255);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(249 227 118);
  --md-sys-color-on-secondary-container: rgb(49 42 0);
  --md-sys-color-tertiary: rgb(255 255 255);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(246 226 160);
  --md-sys-color-on-tertiary-container: rgb(51 41 0);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(30 16 12);
  --md-sys-color-on-background: rgb(249 220 213);
  --md-sys-color-surface: rgb(30 16 12);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(91 65 57);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(255 236 231);
  --md-sys-color-outline-variant: rgb(223 187 176);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(249 220 213);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(135 36 0);
  --md-sys-color-primary-fixed: rgb(255 219 208);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(255 181 159);
  --md-sys-color-on-primary-fixed-variant: rgb(40 5 0);
  --md-sys-color-secondary-fixed: rgb(249 227 118);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(219 199 93);
  --md-sys-color-on-secondary-fixed-variant: rgb(21 17 0);
  --md-sys-color-tertiary-fixed: rgb(246 226 160);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(217 198 135);
  --md-sys-color-on-tertiary-fixed-variant: rgb(22 17 0);
  --md-sys-color-surface-dim: rgb(30 16 12);
  --md-sys-color-surface-bright: rgb(95 76 70);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(43 28 23);
  --md-sys-color-surface-container: rgb(61 44 39);
  --md-sys-color-surface-container-high: rgb(73 55 50);
  --md-sys-color-surface-container-highest: rgb(85 66 61);
}
