.light-medium-contrast {
  --md-sys-color-primary: rgb(59 45 99);
  --md-sys-color-surface-tint: rgb(101 85 143);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(116 100 159);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(57 51 71);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(113 106 128);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(80 43 56);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(142 96 111);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(116 0 6);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 44 39);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(253 247 255);
  --md-sys-color-on-background: rgb(29 27 32);
  --md-sys-color-surface: rgb(253 247 255);
  --md-sys-color-on-surface: rgb(18 16 22);
  --md-sys-color-surface-variant: rgb(231 224 235);
  --md-sys-color-on-surface-variant: rgb(56 53 61);
  --md-sys-color-outline: rgb(84 81 90);
  --md-sys-color-outline-variant: rgb(111 107 117);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(50 47 53);
  --md-sys-color-inverse-on-surface: rgb(245 239 247);
  --md-sys-color-inverse-primary: rgb(207 189 254);
  --md-sys-color-primary-fixed: rgb(116 100 159);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(91 76 132);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(113 106 128);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(88 82 103);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(142 96 111);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(115 72 86);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(202 197 204);
  --md-sys-color-surface-bright: rgb(253 247 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(248 242 250);
  --md-sys-color-surface-container: rgb(236 230 238);
  --md-sys-color-surface-container-high: rgb(225 219 227);
  --md-sys-color-surface-container-highest: rgb(213 208 216);
}
