/* Default when no class is set; also used when class="light" */
:root,
.light {
  --md-sys-color-primary: rgb(162 45 0);
  --md-sys-color-surface-tint: rgb(175 49 0);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(205 59 0);
  --md-sys-color-on-primary-container: rgb(255 242 239);
  --md-sys-color-secondary: rgb(108 94 0);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(255 233 123);
  --md-sys-color-on-secondary-container: rgb(119 104 0);
  --md-sys-color-tertiary: rgb(108 93 41);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(255 234 168);
  --md-sys-color-on-tertiary-container: rgb(120 105 51);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(255 248 246);
  --md-sys-color-on-background: rgb(39 24 20);
  --md-sys-color-surface: rgb(255 248 246);
  --md-sys-color-on-surface: rgb(39 24 20);
  --md-sys-color-surface-variant: rgb(255 219 208);
  --md-sys-color-on-surface-variant: rgb(91 65 57);
  --md-sys-color-outline: rgb(143 112 103);
  --md-sys-color-outline-variant: rgb(227 190 180);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(61 44 39);
  --md-sys-color-inverse-on-surface: rgb(255 237 232);
  --md-sys-color-inverse-primary: rgb(255 181 159);
  --md-sys-color-primary-fixed: rgb(255 219 208);
  --md-sys-color-on-primary-fixed: rgb(58 10 0);
  --md-sys-color-primary-fixed-dim: rgb(255 181 159);
  --md-sys-color-on-primary-fixed-variant: rgb(133 35 0);
  --md-sys-color-secondary-fixed: rgb(249 227 118);
  --md-sys-color-on-secondary-fixed: rgb(33 27 0);
  --md-sys-color-secondary-fixed-dim: rgb(219 199 93);
  --md-sys-color-on-secondary-fixed-variant: rgb(82 71 0);
  --md-sys-color-tertiary-fixed: rgb(246 226 160);
  --md-sys-color-on-tertiary-fixed: rgb(35 27 0);
  --md-sys-color-tertiary-fixed-dim: rgb(217 198 135);
  --md-sys-color-on-tertiary-fixed-variant: rgb(83 70 20);
  --md-sys-color-surface-dim: rgb(240 212 204);
  --md-sys-color-surface-bright: rgb(255 248 246);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(255 241 237);
  --md-sys-color-surface-container: rgb(255 233 227);
  --md-sys-color-surface-container-high: rgb(255 226 218);
  --md-sys-color-surface-container-highest: rgb(249 220 213);
}
