.light-medium-contrast {
  --md-sys-color-primary: rgb(104 26 0);
  --md-sys-color-surface-tint: rgb(175 49 0);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(200 57 0);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(63 54 0);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(125 109 2);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(65 53 4);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(123 108 54);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(116 0 6);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 44 39);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(255 248 246);
  --md-sys-color-on-background: rgb(39 24 20);
  --md-sys-color-surface: rgb(255 248 246);
  --md-sys-color-on-surface: rgb(27 14 10);
  --md-sys-color-surface-variant: rgb(255 219 208);
  --md-sys-color-on-surface-variant: rgb(72 48 41);
  --md-sys-color-outline: rgb(103 76 68);
  --md-sys-color-outline-variant: rgb(132 102 94);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(61 44 39);
  --md-sys-color-inverse-on-surface: rgb(255 237 232);
  --md-sys-color-inverse-primary: rgb(255 181 159);
  --md-sys-color-primary-fixed: rgb(200 57 0);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(158 43 0);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(125 109 2);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(98 85 0);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(123 108 54);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(98 84 33);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(220 193 185);
  --md-sys-color-surface-bright: rgb(255 248 246);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(255 241 237);
  --md-sys-color-surface-container: rgb(255 226 218);
  --md-sys-color-surface-container-high: rgb(243 215 207);
  --md-sys-color-surface-container-highest: rgb(231 204 196);
}
