<nav class="flex justify-between items-center -mt-6 -mx-6 p-4 border-b border-(--mat-sys-outline-variant)">
  <section class="flex items-center gap-2">
    <button matButton="text" color="primary" (click)="navigateToPolls()">
      <mat-icon>arrow_back</mat-icon>
      <span>Back</span>
    </button>
    <h1 class="text-lg font-bold">{{ poll()?.name }}</h1>
  </section>
  <section class="flex items-center gap-2">
    <button matButton="text" color="primary" class="nav-item" [class.active]="isOverviewActive()" (click)="navigateToOverview()">Overview</button>
    <button matButton="text" color="primary" class="nav-item" [class.active]="isCandidatesActive()" (click)="navigateToCandidates()">Candidates</button>
    <button matButton="text" color="primary" class="nav-item" [class.active]="isPositionsActive()" (click)="navigateToPositions()">Positions</button>
    <button matButton="text" color="primary" class="nav-item" [class.active]="isParticipantsActive()" (click)="navigateToParticipants()">Participants</button>
    <button matButton="text" color="primary" class="nav-item" [class.active]="activeNavItem() === 'results'" (click)="setActiveNavItem('results')">Results</button>
  </section>
</nav>