<section class="flex flex-col gap-4 px-8 py-6 mat-bg-surface-container-lowest">
  <h2 class="text-2xl font-bold">Are you sure you want to delete this position?</h2>
  <p>This action cannot be undone. This will permanently delete the position and all associated data.</p>
  <section class="flex justify-end gap-2">
    <button matButton="filled" color="primary" (click)="deletePollPosition()" [disabled]="deletingPollPositionLoading()">
      <div class="flex items-center gap-2">
        @if (deletingPollPositionLoading()) {
          <mat-progress-spinner mode="indeterminate" diameter="20"></mat-progress-spinner>
        }
        <span>Delete Position</span>
      </div>
    </button>

    <button matButton="tonal" color="primary" (click)="closeDialog()">Cancel</button>
  </section>
</section>