<div class="flex flex-col p-8 relative">
  <div class="max-h-[600px] overflow-auto">
    <div class="flex items-center gap-2 mb-6">
      <app-avatar [name]="data.candidate.name" [avatar]="data.candidate.avatar" [size]="'xl'"></app-avatar>
      <h2 class="text-2xl font-bold">{{ data.candidate.name }}</h2>
    </div>
    <div class="flex-1">
      <p class="text-(--mat-sys-on-surface-variant) whitespace-pre-wrap">{{ data.candidate.description || 'No description available' }}</p>
    </div>
  </div>
  <button matButton="filled" type="button" (click)="close()" class="mt-6">
    Close
  </button>
</div>
