<main class="w-full flex flex-col gap-6">
  <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
    <app-kpi-card title="Total Polls" description="Total number of polls" value="100" icon="poll"></app-kpi-card>
    <app-kpi-card title="Total Groups" description="Total number of groups" value="100" icon="groups_3"></app-kpi-card>
    <app-kpi-card title="Total Users" description="Total number of users" value="100" icon="group"></app-kpi-card>
    <app-kpi-card title="Total Workspaces" description="Total number of workspaces" value="100" icon="computer"></app-kpi-card>
  </section>
</main>