<mat-card appearance="outlined" class="h-full">
  <mat-card-header class="flex items-baseline mb-4">
    <div matCardAvatar class="flex items-baseline justify-center mb-0!">
      <app-avatar [avatar]="workspace().avatar" [name]="workspace().name" size="sm"></app-avatar>
    </div>
    <mat-card-title class="text-ellipsis">{{ workspace().name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p class="line-clamp-3">{{ workspace().description }}</p>
  </mat-card-content>
  <mat-card-actions class="flex items-center justify-between gap-2 mt-auto">
    <div class="flex items-center gap-2 ml-2">
      <div class="flex items-center gap-1" matTooltip="{{ totalUsers() }} people are in this workspace" matTooltipPosition="above">
        <mat-icon class="text-[14px]! size-[14px]! mat-text-secondary">contacts_product</mat-icon>
        <span>{{ totalUsers() }}</span>
      </div>

      <div class="flex items-center gap-1" matTooltip="{{ totalPolls() }} polls are in this workspace" matTooltipPosition="above">
        <mat-icon class="text-[16px]! size-[16px]! mat-text-secondary">ballot</mat-icon>
        <span>{{ totalPolls() }}</span>
      </div>
    </div>
    <div class="flex items-center justify-end gap-2">
      <button matButton="text" color="primary" (click)="navigateToWorkspaceDetails()">View</button>
    </div>
  </mat-card-actions>
</mat-card>